<nav>
    <ul>
        <li>
            <img src="/brand/banner-640x160.png" alt="Astral Frontier">
        </li>
        <li>
            TODO: search
        </li>
    </ul>
    <ul>
        {% for link in config.extra.navbar %}
        <li>
        {% if link.items %}
                <details class="dropdown">
                    <summary>{{link.title}}</summary>
                    <ul dir="rtl">
                        {% for item in link.items %}
                            <li>
                                <a href="{{item.url | safe}}">{{item.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </details>
        {% else %}
            {% if link.external %}
                <a rel="noopener noreferrer me" href="{{link.url | safe}}" target="_blank" aria-label="{{link.title}}">
            {% else %}
                <a href="{{link.url | safe}}" aria-label="{{link.title}}">
            {% endif %}
            {% if link.icon %}
                <span class="{{link.icon}}" title="{{link.title}}" aria-hidden="true"></span>
            {% elif link.title %}
            {{link.title}}
            {% endif %}
        </a>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>